* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgb(225, 147, 213);
    min-height: 70px;
    font-size: 30px;
    
}

main {
    background-color: rgb(233, 212, 226);
}

#main_menu {
    padding: 20px 0;
    text-align: center;
}

#main_menu a{
    text-decoration: none;
    margin-right: 30px;

}

.selected {
    color: rgb(240, 178, 218);
}

main {
    flex: 1;
    padding-bottom: 20px;
    font-size: 20px;
}

#product_menu {
    display: inline-block;
    background-color: #ffffff;
    width: 300px;
    height: auto;
    text-align: center;
    padding: 20px 20px;
    margin: 50px;
    vertical-align: middle;
}

#product_menu a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 0;
}

.inline{
    display: inline-block;
}

.exmple {
    display: inline-block;
    vertical-align: middle;
}

.bvRow {
    background-color: rgb(248, 173, 255);
    display: inline-block;
    border: 1px solid #000;
    font-size: 24px;
    margin-left: 10px;
    line-height: 150%;
    padding: 20px 10px;
}

.bvSingleRow {
    background-color: rgb(255, 173, 236);
    border: 1px solid #000;
    font-size: 30px;
    padding: 20px 30px;
    line-height: 150%;
    margin-left: 300px;
}

.tvRow {
    border-collapse: collapse;
    background-color: rgb(255, 173, 236);
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    
}

.tvSingleRow {
    background-color: rgb(255, 173, 236);
    border-collapse: collapse;
    padding: 10px;
    line-height: 150%;
    font-size: 30px;
    margin: 10px;
    text-align: center;
    padding-top: 200px;
    margin-left: 300px;
    
}

td {
    border: 1px solid rgb(247, 244, 244);
    padding: 5px 10px;
}

tr {
    border: 1px solid rgb(247, 244, 244);
}

footer {
    background-color: rgb(225, 147, 213);
    min-height: 90px;
    font-size: 20px;
}

.left{
    color: rgb(243, 232, 232);
    float: left;
    padding: 10px 30px;
}